/*
.citation_book {
    display: grid;
    grid-template-columns: [labels] auto [controls] 1fr;
    grid-auto-flow: row;
    grid-gap: .8em;
}
*/

h1,
h2,
h3,
h4 {
    color: white;
}

body {
    background-image: url("/images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: "Numans", sans-serif;
    color: black;
}

.form input,
.form label {
    color: black;
    background-color: whitesmoke;
}

.table {
    color: whitesmoke;
}

.table td:not(:nth-child(2)) {
    width: 10%;
}

.table td:nth-child(3) a {
    width: 100%;
}

.table img {
    width: 40px;
}

#searchBtn {
    width: 10%;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    color: black;
    background-color: whitesmoke;
}